---
layout: default
title: Home
---

  {% include header.html %}
    <div class="container-full negative-m-bottom">
      <div class="container grid-xl">
        <div class="columns negative-m-top">
          <div class="column col-12 text-center">
            <h6 class="text-secondary">Kategorie auswählen</h6>
          </div>
          {% for kategorie in site.data.category_list %}
          {% capture kategorie_name %}{{ kategorie | first }}{% endcapture %}
          {% assign page_category = site.data.category_list[kategorie_name] %}
          <div class="column col-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ kategorie_name }}">
              <div class="card card-link">
                <div class="card-body text-center my-5">
                  <h5 class="text-bold">{{ page_category.name }}</h5>
                  <p class="m-0">{{ site.categories[kategorie_name] | size }} Artikel</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 
        </div>
      </div>
    </div>