<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      <nav class="container grid-xl navbar">
        <div class="flex-vertical-center hide-sm">
          <a style="width: 20%;" href="{{ site.url }}{{ site.baseurl }}" class="logo">
            <img style="max-width: 100%;" src="{{ site.avatar }}"/>
          </a>
          <p class="m-0 ml-2 text-light d-inline">{{ site.name }}</p>
        </div>
        <div class="text-center show-sm">
          <a style="width: 100%;" href="{{ site.url }}{{ site.baseurl }}" class="logo flex-centered">
            <img style="max-width: 150px;" src="{{ site.avatar }}"/>
          </a>
          <p class="m-0 text-light">{{ site.name }}</p>
          <a style="height: auto;" class="btn btn-lg btn-outline py-2 mt-4">Zurück zur Startseite</a>
      
        </div>
        <ul class="main-nav">
          <li>
            <a href="javascript:history.back()" style="height: auto;" class="nav-links btn btn-lg btn-outline py-2">Zurück zur Startseite</a>
          </li>
        </ul>
      </nav>
      <header class="container grid-xl landing-header"></header>
    </div>
  </div>
</div>